.gallery-image {
    float:left;
    outline:1px solid #5555ff;
}

.image-footer {
    background-color: #5555ff;
    color: white;
    font-family: sans-serif;
    font-variant: small-caps;
    height: 24px;
    margin-top: -6px;
    padding-top: 6px;
    text-align: center;
}
